{% extends "base.html" %} 
{% block content %}
<style>
    body {
        font-family: "Roboto", sans-serif;
        font-size: 18px;
        background-color: #fdfdfd;
    }
    
    .head_text {
        color: white;
    }
    
   
    .icon{
        width:100%;
       
    }
    .card{
        max-height: 80vh
    }
  .card-image{
      height: 300px;
      overflow: hidden;
  }
  .title{
      font-size:17px;
       font-weight:bold; 
       padding: 15px;
       font-family: 'Roboto Slab', serif;
  }
  .title:hover{
    color:goldenrod;
  }

  .link{
      position: relative;
      left:25%;
  }
  .card-text{
    color: rgba(0,0,0,.45);
    font-style: italic;
    font-size: 18px;
    font-size: 1.125rem;

  }
    
     
</style>
      <br>
      <br>
      <br>
<div class="container">
    <div class="row">

          <!-- Blog Entries Column -->
          {% for post in post_list %}
            
          <div class="col s12 m4">
            <div class="card hoverable large">
              <div class="card-image">
                <img src="{{post.image.url}}">
                <a style="color:black;" href="{% url 'post_detail' post.slug  %}"><p class="title">{{post.title}}</p></a>
              </div>
              <div class="card-content">
                    <p class="card-text text-muted h6">{{ post.Author }} | {{ post.created_on}} </p>
                    <p class="card-text">{{post.content|slice:"3:100" }}</p>
                    <span></span>
                </div>
              <div class="card-action">
                    <a href="{% url 'post_detail' post.slug  %}" class="link"> Read more<i style="padding: 10px;" class="material-icons"> &rarr;</i></a>
              </div>
            </div>
          </div>
        

        
            {% endfor %}
        </div>
        <hr>
        <div class="center">
             <a  href="#">Load More</a>
        </div>
        
        {% block sidebar %} {% include 'sidebar.html' %} {% endblock sidebar %}


{%endblock%}