{% block sidebar %}

<style>
        .card{
            box-shadow: 0 16px 48px #E3E7EB;
        }

        .sidebar{
            width:90vw;
            position: absolute;
            right:50px;
            bottom:45%;

        }
        .card-header{
            text-align: center;
        }
        
       
</style>


<!-- Sidebar Widgets Column
<div class="sidebar">
<div class="card">
        <h5 class="card-header">Trending</h5>
    <div class="card-body">
        
       
    </div>
</div>
</div> -->

{% endblock sidebar %}